/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html,body {
  height: 100%
}

body {
  background: black;
}
/* INDEX */
#index {
  color: white;
  font-size: 150%;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

/* SHOW */

.scoring_instructions {
  color: white;
  font-size: 110%;
  padding: 20px;
  float: left;
}

#board {
  top: 50%;
  transform: translateY(10%);
  margin: 20px; 
  width: 40%;
}

#board td {
  position: relative;
}

#board td:after {
  content: '';
  display: block;
  margin-top: 100%;
}

#board td .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  text-align: center;
  vertical-align: middle;
  font-size: 400%;
  line-height: 90px;
}

#words_form_container {
  margin: 40px 20px;
  float: right;
  width: 50%;
}

#words_text_area {
  font-size: 150%;
}

.submit_words_button {
  margin: 5px 40px;
}

#validated_words_container {
  padding: 40px 0px;
  color: white;
  font-size: 150%;
}

.valid_words_table_container, .invalid_words_table_container {
  float: right;
}

#validated_words_table, #invalidated_words_table{
}

h1  {
  color: white;
  text-align: center;
}